.content {
    width: 100%;
    max-width: 660px;
    margin: 0 auto;
}
.container {
    text-align: center;
}
.cell {
    border: 1px solid #ddd;
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
}
